@import 'https://unpkg.com/open-props';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: var(--font-sans);
    background-color: var(--gray-7);
    margin: 0;
    color: var(--gray-0);
    font-size: var(--font-size-3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

dialog {
    position: absolute;
    inset: var(--size-9);
    width: clamp(35rem, 80vw, 60rem);
    height: clamp(10rem, 80vh, 60rem);
    overflow: scroll;
    display: none;
}

dialog[open] {
    display: flex;
    flex-direction: column;
}

#water,
#mountain,
dialog p img {
    display: inline-block;
    margin-inline: var(--size-2);
    vertical-align: middle;
    width: var(--size-3);
}

#water,
#mountain {
    height: var(--size-3);
}

dialog p {
    margin-bottom: var(--size-7);
}

dialog h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: var(--size-8);
}

dialog button {
    text-align: center;
    padding: 1rem 1.5rem;
    align-self: center;
}

#water {
    background-color: blue;
}

#mountain {
    background-color: sienna;
}

@media (max-width: 720px) {
    dialog {
        width: 100%;
        height: 100%;
        inset: 0;
    }
}
